.wrapper
{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
}

.pokeball {
margin-top: -10%;
position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50% ;
  border: 13px solid #383b4f;
  background-image: linear-gradient(
      #f51939 125px,
      white 125px
  );
  animation: load 2s infinite;
}
@keyframes load{
    50%{
        transform: scale(0.7);
    }
}


.pokeball:before{
  content: '';
  position: absolute;
  background-color: #383b4f;
  width: 250px;
  height:25px;
  top: 112.5px;
  left: 0px;
}
.pokeball::after{
    content: '';
    position: absolute;
    width: 90px;
    height:90px;
    background-image: radial-gradient(
        #ffffff 0px,#ffffff 10px,
        #38364f 10px,#383b4f 15px,
        #ffffff 15px,#ffffff 32px,
        #38364f 32px
    );
    border-radius: 50%;
    top: 80px;
    left: 80px;
}